{
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "all",
  "importOrder": ["^@/(.*)$", "^@ds/(.*)$", "^@utils/(.*)$", "^@abi/(.*)$", "^@t/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
